<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>

<body>
    <h1>This account</h1>
    <h2 title="accountName">Account name: {{accountName}}</h2>
    <h2 title="amount">Available balance: ${{balance}}</h2>
    <div>
        <a href="/profile">Go to profile</a>
    </div>
    <a href="/profile/accounts/{{_id}}/delete">Delete Account</a>
    {{#if errorMessage}}
    <p style="color: red">You can't delete an account with money on it</p>
    {{/if}}
    <h3>Transactions</h3>
    {{#if transactionArray}}
    {{#each transactionArray}}
    <h2>
        {{this.sendingAccount.userId.name}} {{this.sendingAccount.userId.lastName}} sent ${{this.amount}} to
        {{this.receivingAccount.userId.name}} {{this.receivingAccount.userId.lastName}}.
    </h2>
    {{/each}}
    {{else}}
    <h4>You have no recent transactions, if you want to send money <a href='/profile/send-money'>Click here</a></h4>
    {{/if}}
</body>

</html>