<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Hello {{this.name}}!</h1>
    <a href="/profile/deposit">Make a deposit</a>
    <a href="/profile/open-account">Open an account</a>
    <a href="/profile/send-money">Send Money</a>
    <a href="/logout">LOG OUT</a>
    <h2>Accounts</h2>
    {{#if myNewAccountArray}}
    {{#each myNewAccountArray}}
    <div>
        <p>Account name: <a href='/profile/accounts/{{this._id}}'>{{this.accountName}} </a> Balance:
            {{this.currency}}{{this.balance}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>You don't have an account with us. <a href='/profile/open-account'>Open one!</a></p>
    {{/if}}
</body>

</html>